<div class="documentation-list-container">
  <div class="topic-filter">
    <div class="topic-buttons">
      <button class="topic-button"
              [class.active]="selectedLibrary === ''"
              (click)="filterByLibrary('')">
        Alle
      </button>
      <button *ngFor="let library of libraries"
              class="topic-button"
              [class.active]="selectedLibrary === library"
              (click)="filterByLibrary(library)">
        {{ library }}
      </button>
    </div>
  </div>

  <div class="documentation-list">
    <div *ngIf="loading" class="loading-spinner">
      <div class="spinner"></div>
      <p>Lade Dokumentationen...</p>
    </div>

    <div *ngIf="!loading && documentations.length === 0" class="no-results">
      <p>Keine Dokumentationen gefunden.</p>
    </div>

    <div *ngIf="!loading && documentations.length > 0" class="documentation-items">
      <div *ngFor="let documentation of documentations" class="documentation-item">
        <div class="doc-header">
          <button class="copy-button" (click)="copyToClipboard('\\\\conad01\\info\\edv\\dokumentation\\' + documentation.libraryPath)" title="Pfad kopieren">
            <i class="material-icons">content_copy</i>
          </button>
        </div>
        <a [routerLink]="['/documentation', documentation.id]" class="doc-link">
          <h3 class="doc-title">{{ documentation.title }}</h3>
          <p class="doc-content">{{ truncateContent(documentation.content) }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
