@font-face {
    font-family: "sereno";
    src: url("./sereno.eot?1365e8852da5efe4043c89e41a73db52?#iefix") format("embedded-opentype"),
url("./sereno.woff2?1365e8852da5efe4043c89e41a73db52") format("woff2"),
url("./sereno.woff?1365e8852da5efe4043c89e41a73db52") format("woff"),
url("./sereno.ttf?1365e8852da5efe4043c89e41a73db52") format("truetype"),
url("./sereno.svg?1365e8852da5efe4043c89e41a73db52#sereno") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: sereno !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-incoming-nav:before {
    content: "\f101";
}
.icon-new-nav:before {
    content: "\f102";
}
.icon-outgoing-nav:before {
    content: "\f103";
}
.icon-person-nav:before {
    content: "\f104";
}
.icon-point-nav:before {
    content: "\f105";
}
.icon-workflow-nav:before {
    content: "\f106";
}
