<div class="documentation-detail-container">
  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
    <p>Lade Dokumentation...</p>
  </div>

  <div *ngIf="error" class="error-message">
    <p>{{ error }}</p>
    <button class="retry-button" (click)="loadDocumentation()">Erneut versuchen</button>
  </div>

  <div *ngIf="!loading && !error && documentation" class="documentation-content">
    <h1 class="doc-title">{{ documentation.title }}</h1>
  
    <div class="doc-meta">
      <span *ngIf="documentation.author">{{ documentation.author }} | {{ documentation.updatedAt | date:'dd.MM.yyyy' }}</span>
      <span class="doc-library">
        {{ documentation.topic }}
        <button class="copy-button" (click)="copyToClipboard('\\\\conad01\\info\\edv\\dokumentation\\' + documentation.topic)" title="Pfad kopieren">
          <i class="material-icons">content_copy</i>
        </button>
      </span>
    </div>
    
    <div class="doc-body">
      <div *ngIf="documentation">
        <div [innerHTML]="(documentation.htmlContent || '') | safeHtml"></div>
      </div>
      <p *ngIf="!documentation.htmlContent">{{ documentation.content }}</p>
    </div>
  </div>
</div> 
