@font-face {
    font-family: "sereno";
    src: url("../../fonts/sereno.eot?f79e405f4c1841ba27655fc6f23c541f?#iefix") format("embedded-opentype"),
url("../../fonts/sereno.woff2?f79e405f4c1841ba27655fc6f23c541f") format("woff2"),
url("../../fonts/sereno.woff?f79e405f4c1841ba27655fc6f23c541f") format("woff"),
url("../../fonts/sereno.ttf?f79e405f4c1841ba27655fc6f23c541f") format("truetype"),
url("../../fonts/sereno.svg?f79e405f4c1841ba27655fc6f23c541f#sereno") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: sereno !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-nav-user:before {
    content: "\f101";
}
.icon-side-incoming:before {
    content: "\f102";
}
.icon-side-new:before {
    content: "\f103";
}
.icon-side-outgoing:before {
    content: "\f104";
}
.icon-side-person:before {
    content: "\f105";
}
.icon-side-point:before {
    content: "\f106";
}
.icon-side-workflow:before {
    content: "\f107";
}
