<bryntum-scheduler-pro-project-model #project
                                     [resources]="resources"
                                     [events]="events"
                                     [assignments]="assignments"
                                     [dependencies]="dependencies">

</bryntum-scheduler-pro-project-model>

<bryntum-scheduler-pro #schedulerpro
                       [columns]="schedulerProProps.columns!"
                       [startDate]="schedulerProProps.startDate!"
                       [endDate]="schedulerProProps.endDate!"
                       [height]="'680px'"
                       [project]="project">

</bryntum-scheduler-pro>
